{% extends "base.html" %} {% block content %} {% if error_message %} 
{% load static %}
<p>{{ error_message }}</p>
{% endif %}
<section class="h-screen w-screen bg-[#cce9e6] flex">
  <div class="flex flex-row h-[80%] w-[80%] m-auto bg-white rounded-2xl">
    <img
      src="{% static 'login.jpg' %}"
      alt="login-img"
      class="bg-black h-full w-[50%] rounded-l-2xl object-cover"
    />
    <div class="flex flex-col w-fit h-fit self-center justify-self-center m-auto">   
      <div class="mb-10 text-center">
      <h3 class="text-3xl font-bold">Welcome Back</h3> 
      <span>Enter your email and password to log in</span> <br>
    </div>
    <form
      class="outline-1 outline-gray-200 p-20 h-fit w-fit self-center justify-self-center mx-auto"
      method="post"
      action="{% url 'login' %}"
    >

      {% csrf_token %}
      <label for="email">Email:</label>
      <br>
      <input class="outline-1 outline-gray-300 p-2 rounded-xl" type="email" name="email" id="email" />
      <br />
      <label for="password">Password:</label>
      <br>
      <input class="outline-1 outline-gray-300 p-2 rounded-xl" type="password" name="password" id="password" />
      <br />
      <input class="py-2 px-5 text-white bg-teal-600 text-lg rounded-xl my-2 w-full" type="submit" value="Login" />
    </form>
  </div>

  </div>
</section>

{% endblock content %}
