{% extends "base.html" %}
<!-- templates/home.html -->
{% block content %}
    <header class="fixed top-2 w-screen items-center justify-center flex z-100">
      <nav class="relative flex flex-row bg-gray-100/70 rounded-3xl w-[80%] h-fit justify-between outline-1 outline-gray-300 items-center p-2">
{% if user.is_authenticated %}
         <a class="block text-teal-600" href={% url "home" %}>
          <span class="sr-only">Home</span>
          <i class="fa-solid fa-cross fa-2x"></i>
          <!-- smaller -->
        </a>
        {% else %}
         <a class="block text-teal-600" href={% url "index" %}>
          <span class="sr-only">Home</span>
          <i class="fa-solid fa-cross fa-2x"></i>
        </a>
        {% endif %}
        <div class="flex flex-row">
          <ul class="flex items-center gap-6 text-sm">
              <li>
                <a
                  class="text-gray-500 transition hover:text-gray-500/75"
                  href={% url "posts" %}
                >
                  Feed
                </a>
              </li>
              <li>
                <a
                  class="text-gray-500 transition hover:text-gray-500/75"
                  href={% url "create_post" %}
                >
                  Upload
                </a>
              </li>
            </ul>
              <div class="sm:flex sm:gap-4 mx-2">
              {% if not user.is_authenticated %}
              <a
                class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700"
                href={% url "login" %}
              >
                Login
              </a>

              <a
                class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block"
                href= {% url "django_registration_register" %}
              >
                Register
              </a>
              {% else %}
              <div class="flex flex-row justify-center items-center">
                {% if profile.profile_pic %}
          <img
            alt="pfp"
            src="{{profile.profile_pic.build_url}}"
            class="size-10 rounded-full object-cover"
          />
          {% else %}
          <img
            alt="pfp"
            src={% static 'defaultavatar.jpg' %}
            class="size-10 rounded-full object-cover"
          />
        {% endif %}
                <span class="text-lg text-gray-500 mx-2 font-light">{{user.username}}</span>
              </div>
              {% endif %}
            </div>
          </div>
      
    </nav>
  </header>
<main class="w-full min-h-screen flex flex-col items-center">
    <h2 class="text-3xl font-light mt-8">Welcome back</h2>
    <p class="text-gray-600 mt-4 underline">Here's what's happening with your church today.</p>
    <section class="w-full max-w-4xl mt-8 flex flex-col">
    {% for post in global_posts %}
    <div class="border border-gray-300 rounded-lg p-4 mt-4 hover:bg-gray-50 m-20">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="Post image" class="w-auto h-100 rounded-lg mb-4">
        {% endif %}
        <p class="text-gray-900 text-base mb-3">{{ post.text }}</p>
        <div class="flex justify-between text-gray-500 text-sm">
            <span class="font-semibold">{{ post.author }}</span>
            <span>{{ post.date|date:"M d, Y" }}</span>
            <span>{{ post.comments.count }} comments</span>
        </div>
    </div>
    {% endfor %}
    </section>    

</main>
{% endblock %}