{% extends "base.html" %} 

{% load static %}
{% block content %}
    <header class="relative top-5 w-screen items-center justify-center flex z-100">
      <nav class="flex flex-row bg-gray-100/70 rounded-3xl w-[80%] h-fit justify-between outline-1 outline-gray-300 items-center p-2">
{% if user.is_authenticated %}
         <a class="block text-teal-600" href={% url "home" %}>
          <span class="sr-only">Home</span>
          <i class="fa-solid fa-cross fa-2x"></i>
          <!-- smaller -->
        </a>
        {% else %}
         <a class="block text-teal-600" href={% url "index" %}>
          <span class="sr-only">Home</span>
          <i class="fa-solid fa-cross fa-2x"></i>
        </a>
        {% endif %}
        <div class="flex flex-row">
          <ul class="flex items-center gap-6 text-sm">
              <li>
                <a
                  class="text-gray-500 transition hover:text-gray-500/75"
                  href={% url "posts" %}
                >
                  Feed
                </a>
              </li>
              <li>
                <a
                  class="text-gray-500 transition hover:text-gray-500/75"
                  href={% url "create_post" %}
                >
                  Upload
                </a>
              </li>
            </ul>
              <div class="sm:flex sm:gap-4 mx-2">
              {% if not user.is_authenticated %}
              <a
                class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700"
                href={% url "login" %}
              >
                Login
              </a>

              <a
                class="hidden rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600 transition hover:text-teal-600/75 sm:block"
                href= {% url "django_registration_register" %}
              >
                Register
              </a>
              {% else %}
              <div class="flex flex-row justify-center items-center">
                {% if profile.profile_pic %}
          <img
            alt="pfp"
            src="{{profile.profile_pic.build_url}}"
            class="size-10 rounded-full object-cover"
          />
          {% else %}
          <img
            alt="pfp"
            src={% static 'defaultavatar.jpg' %}
            class="size-10 rounded-full object-cover"
          />
        {% endif %}
                <span class="text-lg text-gray-500 mx-2 font-light">{{user.username}}</span>
              </div>
              {% endif %}
            </div>
          </div>
      
    </nav>
  </header>
<section class="h-screen w-full flex flex-col justify-center items-center">
  <!-- mainbody -->
  <div class="flex w-full flex-row items-center">
    <!-- grid -->
    <div
      class="relative left-15 flex h-[90vh] w-[20vw] flex-col justify-between border border-gray-100 bg-white"
    >
    <!-- Sidebar -->
      <div class="px-4 py-6">

        <ul class="mt-6 space-y-1">
          <li>
            <a
              href={% url 'pastor_view' view_type='general' %}
              class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
            >
              Oveview
            </a>
          </li>

          <li>
            <details
              class="group [&amp;_summary::-webkit-details-marker]:hidden"
            >
              <summary
                class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
              >
                <span class="text-sm font-medium"> Groups </span>

                <span
                  class="shrink-0 transition duration-300 group-open:-rotate-180"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </span>
              </summary>

              <ul class="mt-2 space-y-1 px-4">
                <li>
                  <a
                    href={% url 'pastor_view' view_type='services' %}
                    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    Services
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    Fellowships
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    Departments
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    Leadership Teams
                  </a>
                </li>
                <li>
                  <a
                    href="#"
                    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    Courses
                  </a>
                </li>
              </ul>
            </details>
          </li>

          <li>
            <a
              href="#"
              class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
            >
              Members
            </a>
          </li>

          <li>
            <details
              class="group [&amp;_summary::-webkit-details-marker]:hidden"
            >
              <summary
                class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
              >
                <span class="text-sm font-medium"> Account </span>

                <span
                  class="shrink-0 transition duration-300 group-open:-rotate-180"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="size-5"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    ></path>
                  </svg>
                </span>
              </summary>

              <ul class="mt-2 space-y-1 px-4">
                <li>
                  <a
                    href="#"
                    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    Feed
                  </a>
                </li>

                <li>
                  <a
                    href="#"
                    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    Messages
                  </a>
                </li>
                <li>
                  <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
              <button type="submit"
                      class="w-full rounded-lg px-4 py-2 [text-align:inherit] text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700">
                Logout
              </button>
                  </form>
                </li>
              </ul>
            </details>
          </li>
        </ul>
      </div>

      <div class="sticky inset-x-0 bottom-0 border-t border-gray-100">
        <a
          href="#"
          class="flex items-center gap-2 bg-white p-4 hover:bg-gray-50"
        >
        {% if profile.profile_pic %}
          <img
            alt="pfp"
            src="{{profile.profile_pic.build_url}}"
            class="size-10 rounded-full object-cover"
          />
          {% else %}
          <img
            alt="pfp"
            src={% static 'defaultavatar.jpg' %}
            class="size-10 rounded-full object-cover"
          />
        {% endif %}
          <div>
            <p class="text-xs">
              <strong class="block font-medium">{{ user.username }}</strong>

              <span> {{user.email}} </span>
            </p>
          </div>
        </a>
      </div>
    </div>

  <div class="flex relative self-center justify-self-center h-[85vh] w-[70vw] rounded-2xl bg-gray-100 m-auto">
    {% block dashboard %}
      <div class="text-center m-auto text-4xl text-teal-950">
        No dashboard views yet
      </div>
    {% endblock dashboard %}
  </div>
  </div>

</section>

{% endblock content %}
